.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container {
  border: 8px solid navy;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: white;
}

/* Shared container for chart + table */
.visual-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.chart-box,
.table-box {
  width: 100%;
  max-width: 1000px;
}

.leaflet-container {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 40px;
}